*/target
*.class
*.project
*.classpath
*/.settings
**/test/java/META-INF/
web/data/sql/*
web/git.properties
.idea
*.iml
*.ipr
*.iws
*/log
*.log
*/mvnw
*/mvnw.cmd
**/WEB-INF/static
**/WEB-INF/datav
**/WEB-INF/index.html
